@charset "utf-8";
/* CSS Document */

body {
    position: relative;
    padding-top: 65px;
}

p {
    font-size: 12px;
    color: #828282;
   line-height: 200%;
    font-family: ryo-gothic-plusn, sans-serif;
}

@media screen and (max-width:576px){
p {
   font-size: 10px;
    color: #828282;
    line-height: 180%;
    font-family: ryo-gothic-plusn, sans-serif;
}

}

@media screen and (min-width:576px) and (max-width:991px) {
    p {
    font-size: 11px;
    color: #828282;
   line-height:180%;
    font-family: ryo-gothic-plusn, sans-serif;
}
}
@media screen and (max-width:768px) {
body {
    padding-top: 27px;
    }
    
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.maintop{
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
    animation: fadeIn 3s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }
div
    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }
/*--------------------------
         navigation
--------------------------*/

.nav-link {
    font-family: mr-eaves-modern, sans-serif;
    font-size:18px;
    letter-spacing: 0.1em;
}
.navigation{
    border-bottom: 1.5px solid #E2C9DE;
}

span.fab {
    color: #969295;    
    }

span.fab:hover{
   color: #575759; 
}


@media screen and (min-width:576px) and (max-width:991px) {
.nav-item {
    margin: 15px 20px;
}   
.navbar-nav {
    margin-left: 30px;
    margin-top:20px;
}

.icon {
    position: absolute;
    top: 25px;
    right: 70px;
    z-index: 1;
}

.fab {
    margin: 20px;
}

}
@media screen and (min-width:992px){
    .nav-item {
    margin: 30px 40px;
} 
    .navbar-nav {
    margin-left: 120px;
}
.icon {
    position: absolute;
    top: 25px;
    right: 90px;
    z-index: 1;
}
.fab {
    margin: 20px;
}

}

/*---------------------------
      header main top
---------------------------*/

/*　メディアクエリ　*/
@media screen and (max-width:576px) { 
     .maintop {
    position: relative;
    height: auto;
    width: 100%;
}
    .header_title{
    font-family: mr-eaves-modern, sans-serif;
    font-size:17px;
    color: #969295;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align: center;
    letter-spacing: 0.17em;
}  
   
    .main_title {
    font-size: 35px
} 
    
    header {
    margin: 30px 0 0;
}
}
@media screen and (min-width:576px) and (max-width:991px) {
     .maintop {
    position: relative;
    height: auto;
    width: 100%;
}
   .header_title{
    font-family: mr-eaves-modern, sans-serif;
    font-size: 22px;
    color: #969295;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align: center;
    letter-spacing: 0.17em;
}
    .red {
    color: #D30D0D;
    font-size: 40px;
    opacity: 0.5;
}
.main_title {
    font-size: 45px
}
    header {
    margin: 30px 0 100px;
}
}

@media screen and (min-width:992px) {
     .maintop {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
    .header_title{
    font-family: mr-eaves-modern, sans-serif;
    font-size:33px;
    color: #969295;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align: center;
    letter-spacing: 0.17em;
}
    
.main_title {
    font-size: 65px
}
   
    header {
    margin: 50px 0 170px;
}
}

/*---------------------------
            work
---------------------------*/


.container {
   text-align: center;
}

.work_content {
   padding-bottom: 30px;
    margin-top: 10px;
    text-align: left;
    font-size: 10px;
}

.col-9 {
    margin: 0 20px;
}

dl {
    position: absolute;
	top: 0;
	margin: 0;
	color: #fff;
	background: rgba(205,92,92,.9);
}

.work_title{
    color: #514F4F;
}
.work_hover {
  transition: all 0.6s ease 0s;
}
.work_hover:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.bottom {
    padding-bottom: 80px;
}

.more1 {
    width: 19%;
}

.bold_t {
    letter-spacing: 0.09em;
    font-size: 14px;
    font-family: benton-sans, sans-serif;
    background: linear-gradient(transparent 70%, #f7f7cd 70%);
}

/* メディアクエリ*/
@media screen and (max-width:576px) {
    .h2_title {
    display: inline-block;
    border-bottom: solid 2px #E2C9DE;
    color: #969295;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 25px;
    margin-top: 50px;
}
    .work_content{
  margin-top: 20px;
  text-align: left;
  font-size: 12px;
}
    div.wwork {
    margin-top: 200px;
    background-color: #fbf8fb;
}
}

@media screen and (min-width:576px) and ( max-width:991px){
    .h2_title {
    display: inline-block;
    border-bottom: solid 3px #E2C9DE;
    color: #969295;

    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 28px;
}
    div.wwork{
       background-color: #fbf8fb;
    padding-top: 60px;
    margin-bottom: 200px;
}
}

@media screen and (min-width:992px) {
    .h2_title {
    display: inline-block;
    border-bottom: solid 3px #E2C9DE;
    color: #969295;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 32px;
    margin: 50px 0;
} 
    div.wwork{
       background-color: #fbf8fb;
    padding-top: 60px;
    margin-bottom: 200px;
}
}

/*---------------------------
         modal
---------------------------*/
.modal-p {
    padding-top: 10px;
    font-size: 15px;
}

/*---------------------------
            ABOUT
---------------------------*/
#about {
    display: block;
    margin-top: -250px;
    padding-top:250px;
}
div.about {
    text-align: center;
    margin-top: 80px;
}

@media screen and (min-width:991px){
    .haikei{
     width: 135%;
}
}

div .content {
    display: inline-block;
    position: relative;
    font-size: 11px;
    color: #969295;
    top: 15%;
    border: 1px solid #E2C9DE;
    padding: 35px;
}

img.more {
    position: relative;
    bottom: -20px;
    left: 84%;
    width: 16%;
}

img.hako{
    position: absolute;
    width: 600px;
    top: 20%;
}

.moji1{
   writing-mode: vertical-rl;
    position: relative;
    top: -20%;
    left: 54%;
    width: 4%;
}
.moji2{
    writing-mode: vertical-rl;
    position: relative;
    top: -39%;
    left: 36%;
    width: 4%;
}

.about-wrapper {
    padding-top: 70px;
    padding-bottom: 170px;
}

.bold {
    font-weight: bold;
     font-size: 16px;
}

/* メディアクエリ max-width:576px */
@media screen and (max-width:576px) {
    #about {
    display: block;
    margin-top: -180px;
    padding-top:180px;
}
    img.hako{
    position: absolute;
    width: 290px;
    top: 20%;
}
    .haikei{
     width: 100%;
     top: 101px;
     position: relative;
    }
    
    div .content {
    position: relative;
    top: 32%;
    font-size: 10px;
    color: #969295;
    text-align: left;
    padding-left: 12px;
    width: 90%;
}
    .me {
    width: 27%;
    position: absolute;
    left: 14%;
    top: 12%;
}
    .h2_title1 {
    display: inline-block;
    border-bottom: solid 2px #E2C9DE;
    color: #969295;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 22px;
}
.about-wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
}
    p.content {
    padding:30x 0;
    text-align: left;
    margin-left: 30px;
    font-size: 12px;
}
    .moji1{
    writing-mode: vertical-rl;
    position: relative;
    top: -11%;
    left: 42%;
    width: 55%;
}
.moji2{
    writing-mode: vertical-rl;
    position: relative;
    top: -2%;
    left: 67%;
    width: 37%;
}
    .bold {
    font-weight: bold;
    font-size: 14px;
}
}
/* メディアクエリ (min-width:576px) and ( max-width:768px) */
@media screen and (min-width:576px) and ( max-width:768px){
    div .content {
    display: inline-block;
    position: relative;
    top: 9%;
    font-size: 10px;
    color: #969295;
}
    .me {
    width: 29%;
    position: absolute;
    left: 14%;
    top: -25%;
}
.moji1{
    writing-mode: vertical-rl;
    position: relative;
    top: -47%;
    left: 45%;
    width: 50%;
    }
.moji2{
   writing-mode: vertical-rl;
    position: relative;
    top: -35%;
    left: 68%;
    width: 35%;
}
    div.wwork {
    background-color: #fbf8fb;
    margin-top: 150px;
}
   
 
}
/* メディアクエリ (min-width:768px) and (max-width:991px) */
@media screen and (min-width:768px) and (max-width:991px){
    .haikei{
     width: 150%;
    }
    .me {
    width: 50%;
    position: absolute;
    left: 55%;
    top: -6%;
}
    .moji1 {
    writing-mode: vertical-rl;
    position: relative;
    top: -20%;
    left: 44%;
    width: 5%;
}
    .moji2{
    writing-mode: vertical-rl;
    position: relative;
    top: -39%;
    left: 29%;
    width: 5%;
    }
    
    img.more {
    position: relative;
    bottom: -20px;
    left: 84%;
    width: 21%;
}
    div.wwork {
    background-color: #fbf8fb;
    margin-bottom: 200px;
}
}

/* メディアクエリ (min-width:576px) and ( max-width:991px) */
@media screen and (min-width:576px) and ( max-width:991px){
    .h2_title1 {
    display: inline-block;
    border-bottom: solid 3px #E2C9DE;
    color: #969295;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 28px;
}
.about-wrapper {
    padding-top: 70px;
    padding-bottom: 120px;
}
    .content {
    padding:30x 0;
    text-align: left;
    margin-left: 50px;
    line-height: 190%
}
  
}
/* メディアクエリ (min-width:992px)*/
@media screen and (min-width:992px) {
    .h2_title1 {
    display: inline-block;
    border-bottom: solid 3px #E2C9DE;
    color: #969295;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    font-size: 32px;
}
    .content {
    padding:30x 0;
    text-align: left;
    line-height:190%
}
   .haikei{
     width: 150%;
    }

    div .content {
    display: inline-block;
    position: relative;
    top: 22%;
    right: -10%;
    font-size: 10px;
    color: #969295;
    width: 90%;
}
    .me {
    width: 44%;
    position: absolute;
    left: 70%;
    top: 0%;
}

}
/*---------------------------
           SKIL
---------------------------*/
#skil {
    display: block;
    margin-top: -200px;
    padding-top:200px;
}
div.skil{
    margin-top: 150px;
}
.about_content {
    margin-top: 50px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #FCFC7E;
}
.star-rating-back {
  color: #ccc;
}

img {
     width:100%;
}

.skil_content {
    text-align: left;
    margin-top: 15px;
    line-height:180%;
}

@media screen and (max-width:576px){
    .skil_content,.p_title {
        font-size: 12px;
	line-height:150%;
    }
}
/*---------------------------
         Contact
---------------------------*/

.contact_wrapper {
    margin-top: 200px;
}


/*---------------------------
          footer
---------------------------*/

footer {
    background-color: #9E789C;
    opacity: 0.5;
    margin-top: 130px;
}

.nav-link {
    color: #FFF;
}

/*---------------------------
    　jqueryのためのCSS
---------------------------*/

/* ALL */
.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 2000ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

/* ABOUT */
#title{
z-index: 10;
}
